<div class="top-bar">
	<div class="top-bar-left">
		<button class="button" (click)="editMode = !editMode" title="Edit Artist"><i [ngClass]="['fa', editMode ? 'fa-check' : 'fa-pencil']" aria-hidden="true"></i></button>
	</div>
	<div class="top-bar-right">
		<button class="button" title="Delete Song"><i class="fa fa-trash" aria-hidden="true"></i></button>
		<button class="button" (click)="controller.save()" [disabled]="editMode" title="Save Information"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
	</div>
</div>

<b>Song Information:</b>

<input type="text" id="edit-title" [(ngModel)]="track.title" [disabled]="!editMode" />
<input type="text" id="edit-artist" [(ngModel)]="track.artist" [disabled]="!editMode" />

<br />
<b id="edit-lyrics-caption">Lyrics ({{ track.lyrics | lyrics:true }} flagged words):</b>
<div class="lyrics-portal">
	<p id="edit-lyrics" [innerHTML]="track.lyrics | lyrics | nl2br"></p>
</div>