<div class="body">

	<h1>Music Policy</h1>

	<p>To comply with Ofcom rules, we need to ensure that content we play sticks to certain rules. These rules are explained.</p>

	<ol>
		<li>
			<p>We operate with <b>no bad language</b>, 24/7, 365 days a year. Exceptions to this are rare.</p>
			<p>The general rule of thumb is if you wouldn't say it to a child or to your grandparents, you can't say it on air.</p>
			<p>'Mild' words (as defined by Ofcom) such as <em>ass</em> are exceptions to this rule.</p>
		</li>
		<li>
			<p>We are <b>high quality</b>.</p>
			<p>You must only upload music that comes directly from CD, record label, or a reputable online store.</p>
			<p>That means <i>no YouTube rips</i>. No exceptions. </p>
		</li>
		<li>
			<p>We are <b>impartial</b>.</p>
			<p>Of course, many songs have political roots, but some overly political songs may be unsuitable for airplay. </p>
			<p>For example, 'Liar Liar' could not be played during the general election period.</p>
		</li>
		<li>
			<p>We act in the <b>public interest</b>.</p>
			<p>Music should not explicitly condone drug use or anti social behaviour.</p>
			<p>If a local or national incident occurs, we stick wholly to the truth, and show our mellow side.</p>
		</li>
	</ol>

	<p>As a station, we legally are obliged to stick to these rules. Hence, any breaches of them will be taken very seriously and may result in upload privileges being taken away.</p>

	<p>At the time of writing, Nerve only covers music uploads. There will be provisions in the future to upload sound-bites.</p>

</div>