@import url(font-awesome.min.css);

* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: "Helvetica Neue", "Arial", "Verdana", sans-serif;
	font-size: 10pt;
	user-select: none;
	-moz-user-select: none;
	cursor: default;
}

table tbody tr:nth-child(2n) {
	background: inherit;
}

/*=================================

	Styles for the sidebar-y stuff

 =================================*/

.logo {
	width: 75%;
	margin: 20px 0 0;
}

#sidebar, .second-sidebar {
	background: #CCC;
	background: linear-gradient(to right, #dbdbdb 0%,#cccccc 100%);
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	text-align: center;
	width: 100px;
	z-index: 99;
}

.second-sidebar {
	background: #BBB;
	background: linear-gradient(to right, #c0c0c0 0%, #c0c0c0 100%);
	left: 0px;
	z-index: 0;
	transition: all 0.1s ease-in;
}

.second-sidebar.visible {
	left: 100px;
	z-index: 99;
}

.second-sidebar.visible ~ .body {
	transition: all 0.1s ease-in;
	margin-left: 200px;
}

.main-menu {
	margin-left: 0;
}

.main-menu, .main-menu li {
	list-style-type: none;
	position: relative;
}

.main-menu li a {
	color: #555;
	cursor: pointer;
	display: block;
	padding: 15% 0;
	text-decoration: none;
	font-size: 9pt;
	width: 100%;
}

.main-menu li:hover a {
	background: rgba(0, 0, 0, 0.1);
	color: #000;
	transition: all 0.03s;
}

.main-menu li a.current {
	color: #000;
	font-weight: 500;
}

.main-menu i.fa {
	display: block;
	font-size: 28pt;
	margin-bottom: 10px;
}

.main-menu li img {
	display: block;
	margin: 0 auto 2px;
	opacity: 0.6;
	width: 50%;
}
.main-menu li a.current img, .main-menu li:hover img {
	opacity: 1;
}

.main-menu + span {
	font-size: 8pt;
}

.main-menu li[data-balloon]:before {
	background: #C00;
	border-radius: 100%;
	color: #FFF;
	content: attr(data-balloon);
	line-height: 16px;
	right: 25px;
	position: absolute;
	font-size: 7pt;
	top: 15px;
	width: 16px;
	z-index: 1;
}

#sidebar .credits {
	position: absolute;
	bottom: 10px;
	opacity: 0.05;
	font-size: 6pt;
	transition: 0.05s;
	padding: 0 10px;
}
#sidebar .credits:hover {
	opacity: 0.3;
}

/*=================================

	Styles for the "main" content

 =================================*/

.body {
	margin-left: 100px;
}

#top {
	border-bottom: 1px solid #E0E0E0;
	padding: 5px 20px 5px 5px;
	text-align: right;
}

#screen-upload, #screen-upload-song {
	text-align: center;
}


a.big-button:first-of-type {
	margin-top: 100px;
}

a.big-button {
	background: #CCC;
	cursor: pointer;
	display: inline-block;
	padding: 40px 0 20px;
	width: 300px;
	transition: all 0.05s;
}
a.big-button img {
	display: block;
	filter: invert(100%);
	margin: 0 auto;
	width: 60%;
}

a.big-button span {
	display: inline-block;
	font-size: 14pt;
	font-weight: 500;
	margin-top: 15px;
}

a.big-button:nth-of-type(1) {
	background: #2ecc71;
	color: #FFF;
}
a.big-button:nth-of-type(1):hover {
	background: #27ae60;
}

a.big-button:nth-of-type(2) {
	background: #9b59b6;
	color: #FFF;
}
a.big-button:nth-of-type(2):hover {
	background: #8e44ad;
}


#screen-load {
	display: block;
	padding-top: 100px;
	text-align: center;
	height: calc(100vh - 40px);
}

#screen-load .fa {
	color: #BBB;
	font-size: 250px;
}

#screen-load .fa.small {
	font-size: 150px;
	position: relative;
	left: -30px;
	top: 50px;
}





.upload-box {
	border: 1px solid #CCC;
	background: #DDD;
	color: #888;
	cursor: pointer;
	display: block;
	margin: 20px auto 0;
	padding: 40px 0 20px;
	position: relative;
	text-align: center;
	width: 600px;
}

/* Cheat */
.upload-box * {
	position: relative;
	z-index: 1;
}

.upload-box .upload-progress {
	background: #CCC;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
}

.upload-box:hover {
	border-color: #BBB;
	color: #555;
}

.upload-box .fa {
	font-size: 50pt;
	margin-bottom: 20px;
}

my-uploads table.list {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-bottom: 30px;
	width: 100%;
}

table.list thead, table.list tbody, table.list tfoot {
	border: none;
}

my-uploads > div > b, moderation-pending > div > b {
	color: #777;
	display: block;
	margin: 10px 30px 0;
}

table.list {
	border-collapse: collapse;
	table-layout: fixed;
	text-align: left;
	width: 100%;
}

table.list.first th:first-child {
	width: 48px;
}

table.list th, table.list td {
	padding: 10px 4px;
}

table.list th {
	border-bottom: 1px solid #CCC;
}

table.list tr.hand:hover {
	background-color: #EEE;
	cursor: pointer;
}

table.list tr.greyed {
  background: #F7F7F7;
  cursor: default !important;
  color: #888;
}


table.list tr.flagged {
  background: #EDB3A8;
}

table.list tr.flagged:hover {
  background: #DE7662;
}


/**
 * Style lists such that uploads are "greyed" out.
 */

track-icon span.status-2:before {
  color: #A00;
  content: "\f00d"; 
  font-family: FontAwesome;
  float: right;
  margin-right: 10px;
}

track-icon span.status-3:before {
  color: #333;
  content: "\f04c"; 
  font-family: FontAwesome;
  float: right;
  margin-right: 10px;
}

track-icon span.status-4:before {
  color: #333;
  content: "\f141"; 
  font-family: FontAwesome;
  float: right;
  margin-right: 10px;
}

track-icon span.status-5:before, track-icon span.status-6:before {
  color: #0A0;
  content: "\f0aa"; 
  font-family: FontAwesome;
  float: right;
  margin-right: 10px;
}

track-icon span.status-7:before {
  color: #A00;
  content: "\f071"; 
  font-family: FontAwesome;
  float: right;
  margin-right: 10px;
}

track-icon span.status-10:before {
  color: #333;
  content: "\f023"; 
  font-family: FontAwesome;
  float: right;
  margin-right: 10px;
}

.deck {

}
.deck .spect {
	display: block;
	height: calc(100vh - 200px);
	width: 100%;
}
.deck canvas {
	display: block;
	height: 100%;
	width: 100%;
}
.deck .meta {
	width: 100%;
	table-layout: fixed;
}
.deck button {
	width: 48px;
	height: 30px;
}

.button.sect {
	font-size: 10pt !important;
	padding: 10px;
	display: inline;
	vertical-align: middle;
	width: 100px;
	height: 80px;
}
.button.sect.extro {
	color: #CC0000;
}
.button.sect.intro {
	color: #00CC00;
}

.button.sect input.default {
	box-shadow: 0px 0px 1px 2px #F99;
}

.button.sect input[type=text] {
	margin: 3px auto 0;
	font-size: 8pt;
	width: 60px;
}

.lyrics-portal {
	height: 300px;
	overflow-y: scroll;
	font-size: 7pt;
	margin-right: 10px;
}

.lyrics-portal b {
	font-size: 9pt;
	color: #C00;

}

.meta input[type=text] {
	width: calc(100% - 50px);
}

.meta button {
	background: #DDD;
	border: 1px solid #999;
	height: 24px;
	width: 28px;
}

.meta button:active {
	background: #CCC;
}

.sect input[type=text] {
	text-align: center;
	width: 48px;
}

.coverall {
	background: rgba(0, 0, 0, 0.4);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.coverall .all {
	background: #FFF;
	min-height: 200px;
	left: 0;
	margin: -130px 0 0;
	position: absolute;
	top: 50%;
	width: 100%;
}

.coverall .all > div {
	margin: 30px auto;
	width: 500px;
	position: relative;
	min-height: 150px;
}

.coverall .all h1 {
	font-weight: normal;
	margin-bottom: 10px;
}

.coverall .all p {
	font-size: 14pt;
}

.coverall .all em {
	color: #999;
	font-size: 9pt;
	position: absolute;
	bottom: -30px;
	right: 10px;
}

.coverall .all button {
	margin: 20px 10px 20px 0;
}

.coverall .all button:not(:first-of-type) {
	right: 90px;
}

button.ui-button {
	background: #ED974C;
	border: 1px solid #C96812;
	border-radius: 2px;
	color: #FFF;
	font-size: 9pt;
	font-weight: bold;
	padding: 9px 20px;
}

button.ui-button:hover {
	border-color: #783800;
}

button.ui-button:active {
	background: #BA5D0B;
	border-color: #783800;
	color: rgba(255, 255, 255, 0.8);
}

button.ui-button.grey {
	background: #888;
	border-color: #555;
}

button.ui-button.grey:hover {
	border-color: #222;
}

button.ui-button.grey:active {
	background: #4A4A4A;
	border-color: #222;
}

table.grid {
	vertical-align: top;
	width: 100%;
}


table.grid td {
	vertical-align: top;
}


.banner {
	background: rgba(0, 0, 0, 0.05);
	border: 1px solid #CCC;
	border-radius: 3px;
	font-size: 9pt;
	padding: 10px 15px;
}

.banner.info {
	background: #FFFED1;
	border-color: #E0D589;
}

.querybox {
	text-align: center;
	margin: 20px 0 10px;
}
#screen-upload-copy-query {
	font-size: 12pt;
}
#screen-upload-copy-search {
	font-size: 12pt;
}

track-info .top-bar {
	padding: 0;
}

track-info .top-bar button {
	margin: 0;
}

.button {
	transition-duration: 0.05s;
}

.button.secondary {
	background-color: #EEE;
	color: #333;
}

.button.secondary:hover {
	background-color: #DDD;
	color: #111;
}

.error-float {
	position: absolute;
	right: 0;
	margin-top: 20px;
}

.upload-container label {
	font-size: 1em;
}

.bottom-peek {
	width: 100%;
	bottom: 0px;
	height: 200px;
	overflow-y: scroll;
}

track-info, audio-player, edit-controls {
	display: block;
	padding: 10px;
}