<div *ngIf="loaded">

	<div class="grid-x" style="max-width: inherit">
		<div class="large-9 columns">
			<waveform #wave [readonly]="false" [controller]="this" [audio]="audio" [track]="track"></waveform>
		</div>
		<div class="large-3 columns">
			<track-info [audio]="audio" [controller]="this" [track]="track"></track-info>
		</div>
	<!-- </div>
	<div class="gridx" style="max-width: inherit"> -->
		<div class="large-4 columns">
			<audio-player [audio]="audio" [controller]="this" [track]="track"></audio-player>
		</div>
		<div class="large-8 columns">
			<edit-controls type="moderation" [controller]="this" [audio]="audio" [track]="track"></edit-controls>
		</div>
	</div>

</div>
<div *ngIf="!loaded" class="screen" id="screen-load">
	<i class="fa fa-cog" style="animation: fa-spin 5s infinite linear;"></i>
	<i class="fa fa-cog small" style="animation: fa-spin 5s infinite linear;"></i>
</div>
