<div class="screen visible">
	<b>Pending Tracks</b>
	<table class="list first">
		<tr>
			<th></th>
			<th style="width: 30%">Title</th>
			<th style="width: 20%">Artist</th>
			<th style="width: 15%">Date</th>
			<th style="width: 35%">Reason</th>
		</tr>
		<tbody id="screen-upload-list-alert">

			<tr *ngFor="let track of tracks" class="hand" (click)="navigate(track)">
				<td><track-icon [status]="track.flagged ? 7 : 0"></track-icon></td>
				<td>{{ track.title }}</td>
				<td>{{ track.artist }}</td>
				<td>{{ track.getUploadDate() }}</td>
				<td>{{ track.flagged ? "Flagged for senior review" : track.neededInfo }}</td>
			</tr>

		</tbody>
	</table>
</div>