<div *ngIf="loaded">

	<div class="grid-x" style="max-width: inherit">
		<div class="large-9 columns">
			<waveform #wave [readonly]="true" [controller]="this" [audio]="audio" [track]="track"></waveform>
		</div>
		<div class="large-3 columns">
			<track-info [readonly]="true" [audio]="audio" [controller]="this" [track]="track"></track-info>
		</div>
	<!-- </div>
	<div class="gridx" style="max-width: inherit"> -->
		<div class="large-4 columns">
			<audio-player [audio]="audio" [controller]="this" [track]="track"></audio-player>
		</div>
		<div class="large-8 columns">
			<br /><br /><br />
			<div class="float-right">

				<button class="button large secondary sect" (click)="flag()"><i class="fa fa-flag" style="font-size: 30pt" aria-hidden="true"></i></button>
	
				<button class="button large secondary sect" (click)="reject()"><i class="fa fa-times" style="font-size: 30pt" aria-hidden="true"></i></button>

				<button class="button large secondary sect" (click)="approve()"><i class="fa fa-upload" style="font-size: 30pt" aria-hidden="true"></i></button>

			</div>
			<div class="clearfix"></div>
		</div>
	</div>

</div>
<div *ngIf="!loaded" class="screen" id="screen-load">
	<i class="fa fa-cog" style="animation: fa-spin 5s infinite linear;"></i>
	<i class="fa fa-cog small" style="animation: fa-spin 5s infinite linear;"></i>
</div>
